.name-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.name-container .header {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #a3a3a3;
}

.header h2 {
  font-size: 24px;
  font-weight: 600;
}

.header p {
  font-size: 14px;
}

.input-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.label {
  font-size: 14px;
}

.input {
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #a3a3a3;
}

.input:focus {
  border: 2px solid #0e185f;
}

@media screen and (max-width: 890px){
  .header h2 {
    font-size: 22px;
  }
}